.countries-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.countries-info{
    border: 2px solid gray;
    padding:15px;
    border-radius: 15px;
}
.nav-item{
    border: 15px;
}
/* .table-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
} */
img{
    width:75px;
    height:50px;
}
button{
    border-radius:15px;
    margin:5px;
}
.country-block{
    background: cornflowerblue;
}
.country-cell{
    border-radius:15px;
}