@import url("./css/index.css");
@import url("./css/countries.css");


html {
  scroll-behavior: smooth;
}

body {
    background: url("./assets/background.jpg");
    background-repeat: repeat;
    background-size: 1347px,629px;
 }

 body{
  margin: 0px;
  padding: 0px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:250px;
}

